#ex06 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.pidgey {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.spearow {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.rattata {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.ekans {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.pidgey{
    padding:40px;
    border: 2px dashed rgb(149, 145, 153);
}

.pidgey:hover {
    background-color: rgb(149, 145, 153);
    zoom: 1.25;
}
.spearow{
    padding:40px;
    border: 2px dashed rgb(240, 230, 239)
}

.spearow:hover {
    background-color: rgb(240, 230, 239);
    zoom: 1.25;
}
.rattata{
    padding:40px;
    border: 2px dashed rgb(90, 90, 90)
}

.rattata:hover {
    background-color: rgb(90, 90, 90);
    zoom: 1.25;
}
.ekans{
    padding:40px;
    border: 2px dashed rgb(83, 0, 94)
}

.ekans:hover {
    background-color: rgb(83, 0, 94);
    zoom: 1.25;
}