#ex07 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
}

.snorlax {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.diglett {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.zubat {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.snorlax{
    padding:40px;
    border: 2px dashed rgb(149, 145, 153);
}

.snorlax:hover {
    background-color: rgb(149, 145, 153);
    zoom: 1.25;
}
.diglett{
    padding:40px;
    border: 2px dashed rgb(230, 127, 11)
}

.diglett:hover {
    background-color: rgb(230, 127, 11);
    zoom: 1.25;
}
.zubat{
    padding:40px;
    border: 2px dashed rgb(135, 2, 139)
}

.zubat:hover {
    background-color: rgb(135, 2, 139);
    zoom: 1.25;
}
