#ex04 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1px;
}

.machop {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.geodude {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.onix {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}
.machop{
    padding: 20px;
    border: 2px dashed rgb(190, 104, 6)
}
.machop:hover {
    background-color: rgb(190, 104, 6);
    zoom: 1.25;
}
.geodude{
    padding:20px;
    border: 2px dashed rgb(116, 97, 85)
}

.geodude:hover {
    background-color: rgb(116, 97, 85);
    zoom: 1.25;
}
.onix{
    padding:20px;
    border: 2px dashed rgb(105, 94, 86)
}

.onix:hover {
    background-color: rgb(105, 94, 86);
    zoom: 1.25;
}